<!-- Page Content -->
    <div class="container">
        <!-- First Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About end/line
                    </br>
                </h1>
            </div>
            </div>

        <div class="row">
            <div class="col-md-6 portfolio-item">
        <p>We began with a simple question: how does encoding affect our experiences with poetry? End/line answers this question. Free and open source, it is a platform that allows users to upload and encode poems. They can then share their encodings with others, who, in turn, can add and compare their own encodings. Built using TEI guidelines, end/line remains committed to current humanistic standards for creating digital texts.</p>
        </br>
        <h5 class="about">END/LINE STAFF</h5>
           <a href="#aboutModal" data-toggle="modal" data-target="#TLModal"><p><strong>Tom Lewek</strong> <em>(Project Lead)</em></p></a>
           <a href="#aboutModal" data-toggle="modal" data-target="#IMModal"><p><strong>Iuri Moscardi</strong> <em>(Community Management)</em></p></a>
           <a href="#aboutModal" data-toggle="modal" data-target="#MKModal"><p><strong>Michael Kirby</strong> <em>(Community Management)</em></p></a>
           <a href="#aboutModal" data-toggle="modal" data-target="#BHModal"> <p><strong>Brian Hamilton</strong> <em>(Back-End Developer)</em></p></a>
           <a href="#aboutModal" data-toggle="modal" data-target="#GRModal"> <p><strong>Gregory Rocco</strong> <em>(Front-End Developer)</em></p></a>
        </br>
        <p><em>End/Line Logo Created by Alex Tai from Noun Project <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">(CC-BY)<a></em></p>
        </div>
        
        <div class="row">
        <div class="col-md-6 portfolio-item">
        <img class ="img-responsive" src="/images/cropped-swash.png">
            </div>
            </div>
<!-- Modals -->
<!-- TL -->
 <div class="modal fade" id="TLModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Tom</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Tom Lewek</h3>
                    <span><strong>Role: </strong></span>
                        <span class="label label-info">Project Lead</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        At the CUNY Graduate Center, Tom Lewek is a MALS student whose work focuses on the intersections of the digital humanities and twentieth- and twenty-first-century poetry and poetics. He proposed end/line, a web application for encoding and comparing encodings of poetry with TEI XML, in January 2017 and currently serves as its project lead. This role entails establishing, refining, and communicating the project’s humanistic importance and working with the community management and development teams to deliver it.
                        <br></br>
                        Outside of the Graduate Center, he is the head of online production at the Modern Language Association where he coordinates the content management and web development of mla.org, the <em>Literary Research Guide</em>, various MLA publications on <em>Humanities Commons</em>, and other digital products and properties. He holds a BA from Hamilton College in English literature.</p>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IM -->
<div class="modal fade" id="IMModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Iuri</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Iuri Moscardi</h3>
                    <span><strong>Role: </strong></span>
                        <span class="label label-info">Community Manager</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                       Iuri Moscardi, born in Italy, is now a PhD student in Comparative Literature (Italian specialization) at CUNY Graduate Center: his research is focused on contemporary Italian literature and Digital Humanities. He is a member of the end/line development team, where he serve as Community Manager in maintaining contacts with the wider TEI community.
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MK -->
<div class="modal fade" id="MKModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Michael</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Michael Kirby</h3>
                    <span><strong>Role: </strong></span>
                        <span class="label label-info">Community Manager</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                       Michael Kirby is a MALS student at The Graduate Center, CUNY, specializing in Digital Humanities. His main interest is contemporary poetry and poetics, and work, both creative and journalistic, can be found in Spikes Arts Quarterly and Best American Experimental Writing 2016. He is a member of the end/line development team, where he serves as the one of two Community Managers, overseeing both the twitter page and the project blog.
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BH -->
<div class="modal fade" id="BHModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Brian</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Brian Hamilton</h3>
                    <span><strong>Role: </strong></span>
                        <span class="label label-info">Back-end Developer</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                       Brian Hamilton is a MALS student at the CUNY Graduate Center, studying digital humanities and data visualization. He has a B.S. in information technology and web science from Rensselaer Polytechnic Institute, with a concentration in civil engineering. Currently, he works as a web developer and builds full-stack web applications in his spare time. For end/line, Brian is working as the back-end developer. He is responsible for building and maintaining the database, handling the routing of the site, and creating the TEI XML validation scripts.
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- GR -->
<div class="modal fade" id="GRModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Gregory</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading">Gregory Rocco</h3>
                    <span><strong>Role: </strong></span>
                        <span class="label label-info">Front-end Developer</span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                       Gregory Rocco is currently a graduate student at The Graduate Center (CUNY) studying digital humanities through the MALS program. He currently holds a special honors B.A. from Hunter College in English with a sub-concentration in environmental studies. His main interest is in exploring the potential of modernist texts through technology. Gregory is an IT specialist, and is currently an associate producer for a children's media company.
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- Second Page Header -->
    <!--<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">FAQ
                    </br>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <!-- /maincontent -->
      <!--<div class="panel-group" id="accordion">
        <div class="faqHeader">General questions</div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Test Question</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Test answer
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Test Question</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                    Test answer
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Test Question</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Test Answer
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Test Question</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Test Answer
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Test Question</a>
                </h4>
            </div>
            <div id="collapseEleven" class="panel-collapse collapse">
                <div class="panel-body">
                    Test Answer
                </div>
            </div>
        </div>
    </div>
