<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">About end/line
				</br>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 portfolio-item">
			<p>We began with a simple question: how does encoding affect our experiences with poetry? End/line answers this question.
				Free and open source, it is a platform that allows users to upload and encode poems. They can then share their encodings
				with others, who, in turn, can add and compare their own encodings. Built using TEI guidelines, end/line remains committed
				to current humanistic standards for creating digital texts.</p>
			</br>
			<h5 class="about">STAFF</h5>
			<a href="#aboutModal" data-toggle="modal" data-target="#LRModal">
				<p><strong>Lisa Rhody</strong> <em>(Project Director)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#TLModal">
				<p><strong>Tom Lewek</strong> <em>(Project Manager)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#IMModal">
				<p><strong>Iuri Moscardi</strong> <em>(Outreach and Testing Coordinator)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#BHModal">
				<p><strong>Brian Hamilton</strong> <em>(Lead Developer)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#GRModal">
				<p><strong>Gregory Rocco</strong> <em>(Front-End Developer)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#MKModal">
				<p><strong>Michael Kirby</strong> <em>(Staff)</em></p>
			</a>
			</br>
			<h5 class="about">ADVISORY BOARD</h5>
			<a href="#aboutModal" data-toggle="modal" data-target="#KSModal">
				<p><strong>Kate Singer</strong> <em>(Associate Professor, Mount Holyoke College)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#LJKModal">
				<p><strong>Lorraine Janzen Kooistra</strong> <em>(Co-Director, Centre in Digital Humanities, Ryerson University)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#RVModal">
				<p><strong>Raffaele Viglianti</strong> <em>(Research Programmer, Maryland Institute for Technology in the Humanities)</em></p>
			</a>
			<a href="#aboutModal" data-toggle="modal" data-target="#RNModal">
				<p><strong>Rebecca Nesvet</strong> <em>(Assistant Professor of English at the University of Wisconsin, Green Bay)</em></p>
			</a>
			</br>
			<h5 class="about">ACKNOWLEDGMENTS</h5>
			<p>This project began in the 2016–17 Digital Praxis course at the CUNY Graduate Center, taught by Professors Lisa Rhody and Stephen Brier, and their guidance and support have been integral. We’d also like to thank the <a href="https://gcdi.commons.gc.cuny.edu/">GC Digital Initiatives</a> program and the <a href="https://digitalfellows.commons.gc.cuny.edu/">the digital fellows</a> (Hannah Aizenman, Kelsey Chatlosh, Jojo Karlin, and Jeremy March) that attended our classes and provided valuable feedback.</p>
			<p>We’re also thankful to the <a href="http://dayofdh2017.linhd.es/ryersoncdh/2017/04/20/day-of-dh-2017-a-very-tei-morning/">Centre for Digital Humanities</a> at Ryerson University, which organized a beta testing session for end/line during this year‘s Day of DH. At the University of Tulsa, <a href="https://twitter.com/kentemerson?lang=en">Kent Emerson</a> has also served as an early user and tester of the application.</p>
			</br>
			<p><em>Logo Created by Alex Tai from Noun Project <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">(CC-BY)<a></em></p>
		</div>
		</br>
		<div class="row">
			<div class="col-md-6 portfolio-item">
				<img class="img-responsive" src="/images/cropped-swash.png">
			</div>
		</div>

<!-- staff modals -->

	<div class="modal fade" id="LRModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">More About Lisa</h4>
				</div>
				<div class="modal-body">
					<center>
						<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
						<h3 class="media-heading">Lisa Rhody</h3>
						<span><strong>Role: </strong></span>
						<span class="label label-info">Project Director</span>
					</center>
					<hr>
					<center>
						<p class="text-left"><strong>Bio: </strong><br> Lisa Rhody is Deputy Director of Digital Initiatives at the CUNY Graduate Center and Director of Digital Fellowship Programs. Lisa oversees Graduate Center programs designed to build and sustain a culture of creative and critical use of technology in the advancement of the university’s core teaching and research missions. Currently, Lisa serves as acting co-director of the CUNY Academic Commons and director of research projects, and she recently taught the core two-semester course sequence in the Master’s of Arts in Liberal Studies digital humanities track. As Associate Director of Research Projects at the Roy Rosenzweig Center for History and New Media, Lisa managed and led projects such as PressForward and Zotero. Lisa holds a PhD from the University of Maryland in English Language and Literature, and her scholarship on digital humanities, text analysis and poetry has appeared in journals such as <em>differences: A Journal of Feminist Cultural Studies</em>, <em>Debates in the Digital Humanities</em>, and is forthcoming in <em>PMLA.</em></p>
					</center>
				</div>
				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="modal fade" id="TLModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">More About Tom</h4>
				</div>
				<div class="modal-body">
					<center>
						<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
						<h3 class="media-heading">Tom Lewek</h3>
						<span><strong>Role: </strong></span>
						<span class="label label-info">Project Manager</span>
					</center>
					<hr>
					<center>
						<p class="text-left"><strong>Bio: </strong><br> Tom Lewek is the head of online production at the Modern Language Association where he coordinates the content management and web development of mla.org, the <em>Literary Research Guide</em>, various MLA publications on <em>Humanities Commons</em>, and other digital products and properties. A graduate student at the CUNY Graduate Center, Tom focuses on the intersections of the digital humanities and twentieth- and twenty-first-century poetry and poetics. He proposed end/line, a web application for encoding and comparing encodings of poetry with TEI XML, in January 2017 and currently serves as its project manager. He holds a BA from Hamilton College in English literature.</p>
					</center>
				</div>
				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="modal fade" id="IMModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">More About Iuri</h4>
				</div>
				<div class="modal-body">
					<center>
						<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
						<h3 class="media-heading">Iuri Moscardi</h3>
						<span><strong>Role: </strong></span>
						<span class="label label-info">Outreach and Testing Coordinator</span>
					</center>
					<hr>
					<center>
						<p class="text-left"><strong>Bio: </strong><br> Iuri Moscardi is a PhD student in comparative literature at the CUNY Graduate Center where his research focuses on contemporary Italian literature and the digital humanities. He serves as end/line’s outreach and testing coordinator maintaining contacts with the wider TEI community.</p>
					</center>
				</div>
				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="BHModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="myModalLabel">More About Brian</h4>
			</div>
			<div class="modal-body">
				<center>
					<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
					<h3 class="media-heading">Brian Hamilton</h3>
					<span><strong>Role: </strong></span>
					<span class="label label-info">Lead Developer</span>
				</center>
				<hr>
				<center>
					<p class="text-left"><strong>Bio: </strong><br> Brian Hamilton is a web developer who builds full-stack web applications in his spare time and a MALS student at the CUNY Graduate Center, studying digital humanities and data visualization. He holds a BS in information technology and web science from Rensselaer Polytechnic Institute, with a concentration in civil engineering. As end/line’s lead developer, Brian is responsible for building and maintaining the database, overseeing site routing, and determining how best to enhance and extend the application’s core features.</p>
				</center>
			</div>
			<div class="modal-footer">
				<center>
					<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
				</center>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="GRModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="myModalLabel">More About Gregory</h4>
			</div>
			<div class="modal-body">
				<center>
					<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
					<h3 class="media-heading">Gregory Rocco</h3>
					<span><strong>Role: </strong></span>
					<span class="label label-info">Front-End Developer</span>
				</center>
				<hr>
				<center>
					<p class="text-left"><strong>Bio: </strong><br> Gregory Rocco is a MALS student at the CUNY Graduate Center studying digital humanities. He holds a special honors BA from Hunter College in English with a sub-concentration in environmental studies, and his work explores modernist texts through technology. Gregory is the owner of Digital Relay, an IT consulting service.</p>
				</center>
			</div>
			<div class="modal-footer">
				<center>
					<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
				</center>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="MKModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="myModalLabel">More About Michael</h4>
			</div>
			<div class="modal-body">
				<center>
					<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
					<h3 class="media-heading">Michael Kirby</h3>
					<span><strong>Role: </strong></span>
					<span class="label label-info">Staff</span>
				</center>
				<hr>
				<center>
					<p class="text-left"><strong>Bio: </strong><br> Michael Kirby</strong> holds an MA in Liberal Studies from the CUNY Graduate Center. His main interest is contemporary poetry and poetics, and his work, both creative and journalistic, can be found in <em>Spikes Arts Quarterly</em> and <em>Best American Experimental Writing 2016</em>. He assists end/line through testing and contributions to the project’s social media presence.</p>
				</center>
			</div>
			<div class="modal-footer">
				<center>
					<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
				</center>
			</div>
		</div>
	</div>
</div>
</div>

<!-- end staff modals -->

<!-- advisory board modals -->

<div class="modal fade" id="KSModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title" id="myModalLabel">More About Kate</h4>
			</div>
			<div class="modal-body">
				<center>
					<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
					<h3 class="media-heading">Kate Singer</h3>
					<span><strong>Role: </strong></span>
					<span class="label label-info">Advisor</span>
				</center>
				<hr>
				<center>
					<p class="text-left"><strong>Bio: </strong><br> Kate Singer is Associate Professor of English at Mount Holyoke College. She has written articles on Percy Shelley, Maria Jane Jewsbury, Mary Robinson, Letitia Landon, and Charlotte Smith that have appeared in <em>Studies in Romanticism</em>, <em>European Romantic Review</em>, <em>Literature Compass</em>, <em>Romantic Circles Praxis</em>, and <em>Essays in Romanticism</em>. The Editor of the Pedagogies section of the Romantic Circles website, including the online journal <em>Pedagogy Commons</em>, she has published on digital pedagogy in <em>JiTP</em> with another essay forthcoming on Letitia Landon in <em>Pedagogy</em>. She edited, along with Nanora Sweet, a special issue of <em>Women’s Writing</em> on Felicia Hemans and is currently finishing a book entitled, <em>Romantic Vacancy: Affect, Gender, and Radical Speculation.</em></p>
				</center>
			</div>
			<div class="modal-footer">
				<center>
					<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
				</center>
			</div>
		</div>
	</div>
</div>
</div>

<div class="modal fade" id="LJKModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">More About Lorraine</h4>
				</div>
				<div class="modal-body">
					<center>
						<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
						<h3 class="media-heading">Lorraine Janzen Kooistra</h3>
						<span><strong>Role: </strong></span>
						<span class="label label-info">Advisor</span>
					</center>
					<hr>
					<center>
						<p class="text-left"><strong>Bio: </strong><br> Lorraine Janzen Kooistra is Co-Director of the <a href="http://www.ryerson.ca/cdh"><em>Centre in Digital Humanities</em></a> (CDH) and a co-investigator on the <a href="http://childrenslit.library.ryerson.ca/"><em>Children’s Literature Archive</em></a> (CLA) project at Ryerson University. She is founder and principal investigator of the <a href="http://www.1890s.ca/"><em>Yellow Nineties Online</em></a>, a digital research environment for the study of aesthetic periodicals of 1890s Great Britain. She has published numerous essays on Victorian illustrated books and periodicals, co-edited <em>The Culture of Christina Rossetti</em>, and authored <em>The Artist as Critic: Bitextuality in Fin-de-Siècle Illustrated Books</em>; <em>Christina Rossetti and Illustration: A Publishing History</em>; and <em>Poetry, Pictures, and Popular Publishing: The Illustrated Gift Book and Victorian Visual Culture 1855-1875</em>. Dr Janzen Kooistra served as Chair of English 2005-2008 and Undergraduate Program Director 2010-13. In 2012, she won the Provost’s Experiential Teaching Award and was honoured the following year with an Ontario Confederation of Faculty Associations (OCUFA) Teaching Award. Digital projects by her students, showcasing their undergraduate research and online publishing skills, may be viewed on the CLA Student Exhibition Space (<a href="http://cla.blog.ryerson.ca/"><em>http://cla.blog.ryerson.ca/</em></a>).</p>
					</center>
				</div>
				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="RVModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">More About Raffaele</h4>
				</div>
				<div class="modal-body">
					<center>
						<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
						<h3 class="media-heading">Raffaele Viglianti</h3>
						<span><strong>Role: </strong></span>
						<span class="label label-info">Advisor</span>
					</center>
					<hr>
					<center>
						<p class="text-left"><strong>Bio: </strong><br> Raffaele Viglianti is a Research Programmer working on the Maryland Institute for Technology in the Humanities (MITH) development team. He came to MITH from the Department of Digital Humanities at King’s College London (KCL), where he was most recently a Post-graduate Research Assistant. At King’s, he contributed to several major digitization and text encoding projects while also completing a PhD in Digital Musicology. Raffaele’s work revolves around digital editions and textual scholarship. He is currently an elected member of the Text Encoding Initiative technical council and an advisor for the Music Encoding Initiative, which produces guidelines for the digital representation of music notation with a focus on scholarly requirements.</p>
					</center>
				</div>
				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="RNModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">More About Rebecca</h4>
				</div>
				<div class="modal-body">
					<center>
						<img src="/images/cropped-swash.png" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
						<h3 class="media-heading">Rebecca Nesvet</h3>
						<span><strong>Role: </strong></span>
						<span class="label label-info">Advisor</span>
					</center>
					<hr>
					<center>
						<p class="text-left"><strong>Bio: </strong><br> Rebecca Nesvet (PhD UNC-Chapel Hill, 2014) is an Assistant Professor of English at the University of Wisconsin, Green Bay. Her research and teaching focuses on nineteenth-century Britain and the digital humanities. Her digital work includes several TEI documentary editions. One is a large-scale undergraduate research project: a critical edition of the Sweeney Todd source <em>The String of Pearls, or the Barber of Fleet Street, A Domestic Romance</em> (1850), of which she is the managing editor. She has also produced <em>Science and Art, a Farce in Two Acts</em>, by the Rymers of London; this edition will be published in <em>Scholarly Editing: The Annual of the Association for Documentary Editing</em> in July 2017. She has also edited Mary Russell Mitford's play <em>Charles the First</em> for <em>The Digital Mitford</em> and published research articles in peer-reviewed journals including <em>Essays in Romanticism</em>, <em>Notes and Queries</em>, <em>The Review of English Studies</em> (<em>RES</em>), <em>The Keats-Shelley Journal</em>, <em>ABC: American, British, and Canadian Studies</em> (The Anglophone-American Society of Romania), and <em>Women's Writing</em>. In 2012, she won the International Conference on Romanticism’s Lore Metzger Prize for the best graduate paper.</p>
					</center>
				</div>
				<div class="modal-footer">
					<center>
						<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- end advisory board modals -->