<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Contact
                </br>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <p>If you would like to contact us with questions, feedback, or suggestions, please email us at <a href="mailto:contactendlineproject@gmail.com">contactendlineproject@gmail.com.</a>Because end/line remains in beta, we welcome those interested in testing (we will try to accommodate your schedule and, hopefully, try to feature your scholarship through an interview or item on our <a href="/News">News</a> page.</p>
            <p>Feel free to tweet us too<a href="http://twitter.com/endlineproject">@endlineproject.</a></p>
            <a class="twitter-timeline" href="https://twitter.com/endlineproject">Our Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
        </div>
    </div>
