<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contact
                    </br>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
        <p>If you would like to contact us with questions, feedback, or suggestions, please email us at <a href="mailto:contactendlineproject@gmail.com">contactendlineproject@gmail.com</a> or tweet us <a href="http://twitter.com/endlineproject">@endlineproject.</a>
            </p>
        </div>
        </div>  