<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">FAQ
				</br>
			</h1>
		</div>
	</div>

	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">What is TEI?</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<p>TEI is the acronym for the Text Encoding Initiative and is a set of guidelines and tags for encoding texts in the humanities.
						You can find more information on the initiative’s <a href="http://www.tei-c.org/index.xml">website</a>.</p>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">How does end/line use TEI?</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse">
				<div class="panel-body">
					<p>TEI includes a <a href="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/VE.html">verse module</a> that specifies
						guidelines for encoding poetry. On end/line, you can use tags from this module.</p>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Do I need to know TEI to use end/line?</a>
				</h4>
			</div>
			<div id="collapseThree" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Yes, you will need to know some TEI to use end/line, but, because we envision this site as a pedagogical tool, we hope
						that you use it both to learn and to practice TEI.</p>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Are there any limitations on the poetry I can upload?</a>
				</h4>
			</div>
			<div id="collapseFour" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Yes, you may only upload poetry in the public domain, per the <a href="http://www.endlineproject.org/tos">Terms of Service</a>.
						At the moment, however, there are no other limitations.</p>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">I don‘t want to upload poetry. Can I encode poetry already available on end/line?</a>
				</h4>
			</div>
			<div id="collapseFive" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Yes, you may search the site for already-uploaded poetry that you are free to encode.</p>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Are there guides on how to use end/line?</a>
				</h4>
			</div>
			<div id="collapseSix" class="panel-collapse collapse">
				<div class="panel-body">
					<p>Yes, for more information on how to use end/line, please see our <a href="/howitworks">How it Works</a> page.</p>
				</div>
			</div>
		</div>
		
	</div>
