<!-- views/partials/footer.ejs -->
<div class="footer navbar-fixed-bottom">
<footer class="footer">
    <div class="container">
        <p class="text-left" style="color: white;"><a class="footer" href="tos">Terms of Service</a> | <a class="footer" href="privacypolicy">Privacy Policy</a>
        <span style="color: white; float:right">Find our open-source code on <a class="footer" href="https://github.com/tlewek/end-line">GitHub</a></span></p>
    </div>
</footer>
</div>