<!-- views/partials/footer.ejs -->
<div class="footer navbar-fixed-bottom">
<footer class="footer">
    <div class="container">
        <p class="text-center text-muted" style="color: white;"><a class="footer" href="tos">Terms of Service</a> | <a class="footer" href="privacypolicy">Privacy Policy</a>
        <p class="text-center text-muted" style="color: white;">end/line is made open and available via <a class="footer" href="https://github.com/tlewek/end-line">this</a> Github repository.</p>
    </div>
</footer>
</div>