<div class="container-fluid">
  <nav class="navbar-fixed-top" role="navigation" style="top:10px">
    <a href="/"><img src="/images/cropped-swash.png" height="50px" width="50px"></a>
  </nav>
  </br>

  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div id="absolute-name-container-thanks">
        <h4 class="center-text">We have found your username!</h4>
        <h4 class="center-text">Please check your email for the answer.</h4>
        </br>
        <h4 class="center-text"><a href="/">Back</a></h4>
      </div>
      </br>
      <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
      </div>
    </div>
  </div>

</div>
</div>
