<section id="section-intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>How to use end/line</h1>
        <p>Lorem ipsum</p>
        <a class="btn btn-default page-scroll" href="#section-signup">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-signup" class="signup-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Test Text</h1>
        <p>Lorem ipsum</p>
        <a class="btn btn-default page-scroll" href="#section-search">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-search" class="search-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Test Text</h1>
        <p>Lorem ipsum</p>
        <a class="btn btn-default page-scroll" href="#section-upload">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-upload" class="upload-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Test Text</h1>
        <p>Lorem ipsum</p>
        <a class="btn btn-default page-scroll" href="#section-encode">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-encode" class="encode-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Test Text</h1>
        <p>Lorem ipsum</p>
        <a class="btn btn-default page-scroll" href="#section-compare">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-compare" class="compare-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Test Text</h1>
        <p>Lorem ipsum</p>
        <a class="btn btn-default page-scroll" href="/">Return</a>
      </div>
    </div>
  </div>
</section>


