<section id="section-intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>How to use end/line</h1>
        <p>A guide for new users</p>
        <a class="btn btn-default page-scroll" href="#section-search">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-blank" class="blank-section-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</section>


<section id="section-search" class="search-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Search</h1>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="420" height="315" src="https://www.youtube.com/embed/5pZdeQNnYFE" frameborder="0" allowfullscreen></iframe>
        </div>
        <a class="btn btn-default page-scroll" href="#section-upload">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-blank" class="blank-section-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</section>


<section id="section-upload" class="upload-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Upload</h1>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="460" height="315" src="https://www.youtube.com/embed/B5vPMG_2EjY" frameborder="0" allowfullscreen></iframe>
        </div>
        <a class="btn btn-default page-scroll" href="#section-encode">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-blank" class="blank-section-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</section>


<section id="section-encode" class="encode-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Encode</h1>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="460" height="315" src="https://www.youtube.com/embed/kiGkbBGHSgU?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <a class="btn btn-default page-scroll" href="#section-vsc">Continue</a>
      </div>
    </div>
  </div>
</section>

<section id="section-blank" class="blank-section-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</section>


<section id="section-vsc" class="vsc-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Validate, Submit, and Compare</h1>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe width="460" height="315" src="https://www.youtube.com/embed/Dq45VFjHI0k" frameborder="0" allowfullscreen></iframe>
        </div>
        <a class="btn btn-default" href="/faq">Return to FAQs</a>
      </div>
    </div>
  </div>
</section>

<section id="section-blank" class="blank-section-e">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</section>
