<!-- views/partials/indexlanding.ejs -->
<div class="container">
<div class="row">
            <div class="col-lg-12">
               <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4>
               <hr> 
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                <h3 class="center-text">Original Item</h3>
                <p class="center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                <h3 class="center-text">Encoded Item</h3>
                <p class="center-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
            </div>
        </div>
        <!-- /.row -->

        <!--Sign Up Button Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item, center-text">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#signinwindow">Sign-In</button>
                    <div class="modal fade" id="signinwindow">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Sign-In</h3>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <input type="username" class="form-control" placeholder="username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="password">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-block">Sign In</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 portfolio-item, center-text">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#signupwindow">Sign-Up</button>
                    <div class="modal fade" id="signupwindow">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Sign-Up</h3>
                                </div>
                                <div class="modal-body">
                                    <form role="form">
                                        <div class="form-group">
                                            <input type="Email" class="form-control" placeholder="Email">
                                        </div>
                                        <div class="form-group">
                                            <input type="username" class="form-control" placeholder="username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="password">
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-primary btn-block">Sign-Up</button>
                                    <p class="center-text">By signing up, you agree to our <a href="tos" target="_blank">Terms of Service</a> and <a href="privacypolicy" target="_blank">Privacy Policy</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            </br>