<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">end/line
                </br>
                <small>reading poetry closely with TEI</small>
            </h1>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <h4>For students and teachers of poetry, interested in engaging more deeply with texts through TEI encoding. Find a poem, encode it, validate your work, and collaborate with others. <span class="modal-link"><a href="#learnMore" data-toggle="modal" data-target="#learnMoreModal">Intrigued? Learn more.</span></a></h4>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 portfolio-item">
            <pre class="pre-scrollable"><code>
    Rose, harsh rose, 
    marred and with stint of petals, 
    meagre flower, thin, 
    sparse of leaf, 

    more precious 
    than a wet rose 
    single on a stem— 
    you are caught in the drift.

    Stunted, with small leaf, 
    you are flung on the sand, 
    you are lifted 
    in the crisp sand 
    that drives in the wind. 

    Can the spice-rose 
    drip such acrid fragrance 
    hardened in a leaf?
                </code>
                </pre>
            <h3 class="center-text">Original</h3>
            <h4 class="center-text">"Sea Rose" by H.D.</h4>
        </div>
        <div class="col-md-6 portfolio-item">
            <pre class="pre-scrollable"><code>
    &lt;text&gt;
    &lt;lg type="stanza"&gt;
    &lt;l&gt;Rose,&lt;caesura/&gt; harsh rose,&lt;/l&gt;
    &lt;l&gt;marred and with stint of petals,&lt;/l&gt;
    &lt;l&gt;meagre flower,&lt;caesura/&gt; thin,&lt;/l&gt;
    &lt;l&gt;sparse of leaf,&lt;/l&gt;
    &lt;/lg&gt;
    &lt;lg type="stanza"&gt;
    &lt;l enjambed="y"&gt;more precious &lt;/l&gt;
    &lt;l enjambed="y"&gt;than a wet rose &lt;/l&gt;
    &lt;l&gt;single on a stem— &lt;/l&gt;
    &lt;l&gt;you are caught in the drift. &lt;/l&gt;
    &lt;/lg&gt;
    &lt;lg type="stanza"&gt;
    &lt;l&gt;Stunted,&lt;caesura/&gt; with small leaf,&lt;/l&gt;
    &lt;l&gt;you are flung on the sand,&lt;/l&gt;
    &lt;l enjambed="y"&gt;you are lifted&lt;/l&gt;
    &lt;l enjambed="y"&gt;in the crisp sand&lt;/l&gt;
    &lt;l&gt;that drives in the wind.&lt;/l&gt;
    &lt;/lg&gt;
    &lt;lg type="stanza"&gt;
    &lt;l enjambed="y"&gt;Can the spice-rose&lt;/l&gt;
    &lt;l enjambed="y"&gt;drip such acrid fragrance&lt;/l&gt;
    &lt;l enjambed="y"&gt;hardened in a leaf?&lt;/l&gt;
    &lt;/lg&gt;
    &lt;/text&gt;
                </code>
                </pre>
            <h3 class="center-text">Encoded</h3>
            <h4 class="center-text">"Sea Rose" by H.D.</h4>
        </div>
    </div>

    </br>
    <hr>

    <div class="endline-partners">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>end/line has been made possible with the support of:</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <p><img src="/images/cuny-gc-logo.jpg" class="img-responsive center-block" width="100px" height="100px"></p>
            </div>
        </div>
    </div>

<!-- learnMoreModal -->

<div class="modal fade" id="learnMoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title" id="myModalLabel">Learn More</h4>
      </div>
      <div class="modal-body">
        <center>
          <p class="text-left">Why read poetry closely? What’s TEI? What am I doing here?</p>
          <p class="text-left">Good questions. If you have little or no experience reading poetry, encoding texts with TEI, or using an application like this, see below for more information and then decide whether or not end/line works for you.</p>
		 <p class="text-left">Close reading encourages us to slow down and engage with the often strange language of poetry. It allows us to understand how the formal and structural elements of a text convey its multiple meanings. And while “close reading” emerges out of the limited and limiting New Criticism of the post-war era, it remains an indispensable tool for developing contextual, rather than merely formal, interpretations of literary works.</p>
		<p class="text-left">TEI stands for the Text Encoding Initiative: a set of guidelines for humanities scholars interested in encoding works in <a href="https://www.w3.org/XML/">XML</a>. While TEI remains a longstanding project in the academic world (it dates back to 1994), it also presents a daunting prescription for marking up texts—the <a href="http://www.tei-c.org/release/doc/tei-p5-doc/en/Guidelines.pdf">PDF</a> of the current set of guidelines runs to 1,887 pages! Thankfully, however, we can approach TEI in smaller chunks, called modules. Because end/line encourages users to encode poetry, it only uses TEI’s <a href="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/VE.html">verse module</a> and, therefore, offers users a more manageable experience.</p>
		<p class="text-left">Encoding, like close reading, ultimately remains a deliberative act. By attending to the hierarchies and semantics of a text, encoders perform their own close readings, and end/line facilitates this. We hope that you use the site to better understand the mechanics of poetry by learning the mechanics of TEI.</p>
        </center>
        <div class="modal-footer">
          <center>
            <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
            <button type="button" class="btn btn-default"><a href="/signup">Sign-Up</a></button>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
