<!-- views/partials/indexlanding.ejs -->
<div class="container">
<div class="row">
            <div class="col-lg-12">
               <h4>Find, or upload, poetry and begin encoding. Validate your work, compare different markups of a single text, and invite others to collaborate. On end/line, we encourage you to learn, practice, and refine your encoding skills.</h4>
               <hr> 
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <pre class="pre-scrollable"><code>
    Rose, harsh rose, 
    marred and with stint of petals, 
    meagre flower, thin, 
    sparse of leaf, 

    more precious 
    than a wet rose 
    single on a stem— 
    you are caught in the drift.

    Stunted, with small leaf, 
    you are flung on the sand, 
    you are lifted 
    in the crisp sand 
    that drives in the wind. 

    Can the spice-rose 
    drip such acrid fragrance 
    hardened in a leaf?
                </code>
                </pre>
                <h3 class="center-text">Original</h3>
                <h4 class="center-text">"Sea Rose" by H.D. (pre TEI encoding)</h4>
            </div>
            <div class="col-md-6 portfolio-item">
                <pre class="pre-scrollable"><code>
    &lt;TEI xmlns="http://www.tei-c.org/ns/1.0"&gt;
    &lt;text&gt;
    &lt;lg type="stanza"&gt;
    &lt;l&gt;Rose,&lt;caesura/&gt; harsh rose,&lt;/l&gt;
    &lt;l&gt;marred and with stint of petals,&lt;/l&gt;
    &lt;l&gt;meagre flower,&lt;caesura/&gt; thin,&lt;/l&gt;
    &lt;l&gt;sparse of leaf,&lt;/l&gt;
    &lt;/lg&gt;
    &lt;lg type="stanza"&gt;
    &lt;l enjambed="y"&gt;more precious &lt;/l&gt;
    &lt;l enjambed="y"&gt;than a wet rose &lt;/l&gt;
    &lt;l&gt;single on a stem— &lt;/l&gt;
    &lt;l&gt;you are caught in the drift. &lt;/l&gt;
    &lt;/lg&gt;
    &lt;lg type="stanza"&gt;
    &lt;l&gt;Stunted,&lt;caesura/&gt; with small leaf,&lt;/l&gt;
    &lt;l&gt;you are flung on the sand,&lt;/l&gt;
    &lt;l enjambed="y"&gt;you are lifted&lt;/l&gt;
    &lt;l enjambed="y"&gt;in the crisp sand&lt;/l&gt;
    &lt;l&gt;that drives in the wind.&lt;/l&gt;
    &lt;/lg&gt;
    &lt;lg type="stanza"&gt;
    &lt;l enjambed="y"&gt;Can the spice-rose&lt;/l&gt;
    &lt;l enjambed="y"&gt;drip such acrid fragrance&lt;/l&gt;
    &lt;l enjambed="y"&gt;hardened in a leaf?&lt;/l&gt;
    &lt;/lg&gt;
    &lt;/text&gt;
    &lt;/TEI&gt;
                </code>
                </pre>       
                <h3 class="center-text">Encoded</h3>
                <h4 class="center-text">"Sea Rose" by H.D. (post TEI encoding)</h4>
            </div>
        </div>
        <!-- /.row -->

        <!--Sign Up Button Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item, center-text">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#signinwindow">Sign-In</button>
                    <div class="modal fade" id="signinwindow">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Sign-In</h3>
                                </div>
                                <div class="modal-body">
                                    <form role="form" action="/login" method="POST">
                                        <div class="form-group">
                                            <input type="username" class="form-control" placeholder="username" name="username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="password" name="password">
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Sign In</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-6 portfolio-item, center-text">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#signupwindow">Sign-Up</button>
                    <div class="modal fade" id="signupwindow">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 class="modal-title">Sign-Up</h3>
                                </div>
                                <div class="modal-body">
                                    <form role="form" action="/signup" method="POST">
                                        <div class="form-group">
                                            <input type="Email" class="form-control" placeholder="email" name="email">
                                        </div>
                                        <div class="form-group">
                                            <input type="username" class="form-control" placeholder="username" name="username">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" placeholder="password" name="password">
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Sign-Up</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    
                                    <p class="center-text">By signing up, you agree to our <a href="tos" target="_blank">Terms of Service</a> and <a href="privacypolicy" target="_blank">Privacy Policy</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            </br>
