<!-- Page Header -->
<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header insetname">Item Name <span class="insetmeta1">[Author]</span> <span class="insetmeta2">[Date]</span></h1>
                <h4>
            </div>
        </div>

<!-- Actual Poem Area -->
        <div class="row">
            <div class="col-lg-12 center">
            <div class="Poem-Container">
                <form>
                <div class="form-group">
                <label for="selectionone"></label>
                <textarea class="form-control input-lg" id="item" type="text" rows="16">
                </textarea>
                </form>
                <h4>
            </div>
        </div>

<!-- Encoding Head -->
<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Encodings</h1>
            </div>
        </div>

<!-- Encoding Table Head -->
        <div class="row">
           <div class="col-xs-4">
               <h4 class="tableitem">Author</h4>
             </div>
           <div class="col-xs-3">
                <h4 class="tableitem">Version Date</h4>
             </div>
           <div class="col-xs-2">
               <h4 class="tableitem">Compare 1</h4>
            </div>
            <div class="col-xs-2">
               <h4 class="tableitem">Compare 2</h4>
            </div>
          </div>

<!-- Results -->
        <div class="row">
           <div class="col-xs-4">
               <h4>Original Author</h4>
             </div>
           <div class="col-xs-3">
                <h4>Original</h4>
             </div>
           <div class="col-xs-2">
               <input type="radio" name="optradio1">
            </div>
            <div class="col-xs-2">
               <input type="radio" name="optradio2">
            </div>
        </div>

        <div class="row">
           <div class="col-xs-4">
               <h4>Gregory Rocco</h4>
             </div>
           <div class="col-xs-3">
                <h4>20170401</h4>
             </div>
           <div class="col-xs-2">
               <input type="radio" name="optradio1">
            </div>
            <div class="col-xs-2">
               <input type="radio" name="optradio2">
            </div>
        </div>

        <div class="row">
           <div class="col-xs-4">
               <h4>Michael Kirby</h4>
             </div>
           <div class="col-xs-3">
                <h4>20170401</h4>
             </div>
           <div class="col-xs-2">
               <input type="radio" name="optradio1">
            </div>
            <div class="col-xs-2">
               <input type="radio" name="optradio2">
            </div>
        </div>

        <div class="row">
           <div class="col-xs-4">
               <h4>Brian Hamilton</h4>
             </div>
           <div class="col-xs-3">
                <h4>20170401</h4>
             </div>
           <div class="col-xs-2">
               <input type="radio" name="optradio1">
            </div>
            <div class="col-xs-2">
               <input type="radio" name="optradio2">
            </div>
        </div>

<!-- Submit Button Row -->
<div class="row">
            <div class="col-lg-12 text-center">
                </br><a href="#"><button type="button" class="btn btn-primary btn-lg">Compare</button></a>
            </div>
        </div>