<div class="container">
	<section id="newshead">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">News
					</br>
				</h1>
			</div>
		</div>
	</section>

	<div class="row">
		<div class="col-md-6 portfolio-item">
			<h4>Jump to a Story</h4>
			<p><a class="page-scroll" href="#newlogo">Got a New Logo</a></p>
			<p><a class="page-scroll" href="#othertei">end/line and Other TEI Projects</a></p>
			<p><a class="page-scroll" href="#testers">Looking for Testers</a></p>
			<p><a class="page-scroll" href="#eadatt">end/line: A Different Approach to TEI</a></p>
		</div>
	</div>

	<section id="newlogo">
		</br>
		<div class="row">
			<div class="col-lg-12">
				</br>
				<h3>Got a New Logo</h3>
				<h4>March 18th, 2017</h4>
				<p>How do you develop a visual identify for project so focused on textual encoding? What could convey the reams and reams
					of alphabetic characters and the angle brackets enclosing them?</p>
				<p>While we’d already settled on cool blue/off-white color scheme for end/line (hex values <code>#323c55</code> and <code>#fffaf0</code>					for those interested) and monospaced typeface (Letter Gothic Standard) that evokes the text you might see working the
					command line, we didn’t have any compelling imagery. The free association began. Poetry. Text. Versions—maybe some geometric
					icon with many shapes? XML—XML documents have “tree” structures, so let’s use something tree-related. Maybe a forest?
					Or some leaves? Got it, a branch, and angle it like the forward slash you see so often in XML code. And that’s how we
					got here.</p>
				</br><img class="img-responsive" src="images/logo_blog.jpg" height="250px" width="475px" />
				<p>
					</br>Let us know if you like (or hate) the new logo, or if you’re interested generally in the project. You should see it
					on <a href="https://endlineproject.org" target="_blank">endlineproject.org</a> soon.</p>
				<h4 class="center-text"><a class="page-scroll" href="#newshead">Return</a></h4>
			</div>
		</div>
	</section>

	<section id="othertei">
		<hr>
		<div class="row">
			<div class="col-lg-12">
				</br>
				<h3>end/line and Other TEI Poetry Projects</h3>
				<h4>March 18th, 2017</h4>
				<p>As stated in a previous post, end/line will allow users to upload a poetic text of their choosing, encode it, based on
					TEI Guidelines, and then compare their own encodings with those of others. In the same post, we also emphasized that,
					because we consider encoding as a form of close reading, we offer users a more direct way to work with TEI.</p>
				<p>Yet end/line is not the only TEI-based project focused on poetry in English language—far from it. TEI is also "a consortium
					which collectively develops and maintains a standard for the representation of texts in digital form" (as reported on
					<a href="http://www.tei-c.org/index.xml" target="_blank">TEI homepage</a>), and it’s important to realize how our project
					fits into the TEI environment. Reviewing some projects <a href="http://www.tei-c.org/Activities/Projects/" target="_blank">listed</a>					on the TEI website, many of which are digital editions or repositories, reveals a multitude of initiatives similar to
					end/line.
				</p>
				</br><img class="img-responsive" src="images/Roberto-Herrera-Pellizzari.jpg" height="512px" width="750px" />
				<p class="caption">Roberto Herrera Pellizzari - Poesìa <a href="https://www.flickr.com/photos/ruperthp/4033137442/" target="_blank">(Flickr)</a></p>
				<p>
					</br>For instance, the <a href="http://quod.lib.umich.edu/a/amverse/" target="_blank">American Verse Project</a> developed
					by the University of Michigan Text Initiative and the University of Michigan Press is an archive of American poetry
					published before 1920: the texts have been coded in SGML with TEI, and users can search by single or associated words
					and by title and author, though they cannot upload their own texts. Similarly, the <a href="http://digital.lib.ucdavis.edu/projects/bwrp/"
						target="_blank">British Women Romantic Poets 1789-1832</a>, developed by the University of California, Davis, is "an
					online scholarly archive consisting of E-text editions" of British female poets "written (not necessarily published)
					between 1789 and 1832". Texts are selected by an Editorial Advisory Board consisting of scholars, scanned and converted
					to ASCII format using an OCR software and, finally, imported into a SGML editor; users can browse the texts. Despite
					the availability of the texts, this is a close project because scholars chose and encoded the texts. The terms used
					to define some of these projects clearly define their modes of interaction with users: the project that "makes high-resolution
					images of Dickinson’s surviving manuscripts available in open access, and provides readers with a website through which
					they can view images of manuscripts" is the <a href="http://www.edickinson.org/" target="_blank">Emily Dickinson</a><em><a href="http://www.edickinson.org/" target="_blank">archive</a></em>
					<a href="http://www.edickinson.org/" target="_blank">,</a><em> </em>while the place where it is possible to study "the
					literary history of popular British and American poetry" is the <a href="http://idhmcmain.tamu.edu/poetess/index.html"
						target="_blank">Poetess <em>archive</em></a>. The same separation between scholarly producers and interested audiences
					can be found also in projects regarding non-English texts like the <a href="http://www.princeton.edu/~lancelot/ss/"
						target="_blank">Princeton Charrette Project</a>, which explores the tradition of the medieval French text
					<i>Le Chevalier de la Charrette </i>by Chretien de Troyes; or <a href="http://www.perunaenciclopediadantescadigitale.eu:8080/dantesearch/"
						target="_blank">Dante Search</a> by Università di Pisa, aimed to provide a catalogue of Dante's words in his Latin and
					vernacular works.</p>
				</br><img class="img-responsive" src="images/Olga-Berrios.jpg" />
				<p class="caption">Olga Berrios - Expo Màs que libros <a href="https://www.flickr.com/photos/ofernandezberrios/8787858496/" target="_blank">(Flickr)</a></p>
				<p>
					</br>The approach we chose for end/line involves some additional user activity: we’ll allow users, after they create accounts,
					to upload poetic texts, or search for already-uploaded poetic texts, and encode them. Some projects take a similar angle.
					For instance, <a href="http://prosody.lib.virginia.edu/" target="_blank">For better for verse</a>, developed by University
					of Virginia, offers the possibility to choose a poem in a list and to analyze its metrical features by clicking on the
					different syllables and then submit your result, validated or invalidated by the site. It uses TEI P5 markup, and it
					includes validation, like end/line, though users cannot upload texts. <a href="http://prism.scholarslab.org/?locale=en"
						target="_blank">Prism</a> offers a similar experience because it allows users to choose texts from a list (both poetry
					and prose) and to highlight words according to specific categories and then visualize the texts based on their actions.
					Finally, the features offered by the Thomas Grey Archive and the Eighteenth-Century Poetry Archive are intriguing. The
					<a href="http://www.thomasgray.org/" target="_blank">former</a> allows users to browse between poems and letters written
					by Gray, offering also a digital library with links to scanned images of the print editions of the poems. By selecting
					a poem or a letter, the user finds bibliographical and chronological references and, above all, by clicking on each
					line, the possibility to insert a personal comment. The <a href="http://www.eighteenthcenturypoetry.org/" target="_blank">latter</a>					does the same with a corpus of 265 authors and 1,321 works: by clicking on texts, users find bibliographical, chronological,
					and metrical data; meanwhile, by clicking on the words themselves, users find properties such as spelling, lemma, and
					so on.</p>
				<p>There’s a wide variety, and a lot of creativity, in TEI-related projects. We hope that end/line will provide a novel
					take on the field.</p>
				<h4 class="center-text"><a class="page-scroll" href="#newshead">Return</a></h4>
			</div>
		</div>
	</section>

	<section id="testers">
		<hr>
		<div class="row">
			<div class="col-lg-12">
				</br>
				<h3>Looking For Testers</h3>
				<h4>March 13th, 2017</h4>
				<p>The development of end/line, our webapp for the encoding of poetic texts, requires a group of of people, with at least
					a basic expertise of TEI, as testers.</p>
				<p>We have just started to build end/line, so the testing will be approximately at the end of March or in April. We will
					ask the testers to use our app, either by online or in person meetings (if you reside in NYC area), and to give us back
					their feedbacks.</p>
				<p>If someone is interested, or if requires more informations, please write an e-mail to <a href="mailto:imoscardi@gradcenter.cuny.edu">imoscardi@gradcenter.cuny.edu</a>					or tweet <a href="https://twitter.com/endlineproject" target="_blank">@endlineproject</a>.</p>
				<h4 class="center-text"><a class="page-scroll" href="#newshead">Return</a></h4>
			</div>
		</div>
	</section>

	<section id="eadatt">
		<hr>
		<div class="row">
			<div class="col-lg-12">
				</br>
				<h3>end/line: A Different Approach to TEI</h3>
				<h4>March 6th, 2017</h4>
				<p>Our digital project, end/line, will rely on the TEI Guidelines to allow our users to encode the poetic texts they want
					to upload. Being TEI a "a consortium which collectively develops and maintains a standard for the representation of
					texts in digital form" (as reported on <a href="http://www.tei-c.org/index.xml">TEI homepage</a>), it is important for
					us to define how our project relates to the TEI Community: indeed, end/line presents some characteristics related to
					a specific approach and use of the TEI Guidelines that makes it something different from other TEI literary projects.</p>
				</br><img class="img-responsive" src="images/fridge-poetry.jpg" />
				<p class="caption">Magnetic fridge poetry, Steve Johnson (<a href="https://www.flickr.com/photos/artbystevejohnson/4654256903/in/photolist-86hhqF-8GMtjJ-86ks61-p2qXn-bbkYzz-v79cw-zaGpM-uM5Lg-8Ju8pU-qgHH-8Y9KCi-6FWdeg-7BFKyo-uM5r9-5ZZhQn-fs6gY-uM14Q-3HgVy-4Yb9Qm-MtsuX-86ks4d-uLWrW-5uJvk9-58qwte-9inMMM-F13f3-buHQ1K-8nCHw7-uM1Du-2cYH5-df6weV-BAGtNM-7BFKoE-bbwvJ8-2X2p-uM3bg-uM1Ue-9dYaiF-7BFJWE-a6E5Xp-3XQco-5TC4bq-ieQqc-eaKcBG-8zRDj-uLUuY-uM4Fu-7BFKb7-uM2sE-9VUKp2"
						target="_blank">Flickr</a>)</p>
				</br>
				<p>A brief overlook of other TEI projects, <a href="http://www.tei-c.org/Activities/Projects/" target="_blank">enlisted</a>					on the TEI website, is a good way to understand how end/line will relate to them and to the community. First of all,
					the great majority of these projects have been developed by scholars, universities, or other research centers as tools
					to improve the knowledge of specific authors, languages, or literary genres. Reading the list, we can find a lot of
					digital or scholarly editions of books and texts already published in a paper edition, written by the same author or
					collected from authors writing in a specific period or a specific geographic area; most of them can be considered as
					archives or repositories. More importantly, they usually offer the user only a passive experience: users can indeed
					browse the corpus doing research by words, authors, etc. but they can not usually choose freely within a large corpus,
					but only choose between a limited number of texts chosen by other people. The didactic approach pursued by these projects
					enlarge the knowledge of authors, periods, and texts by offering users a more direct contact with them; but this is
					only a limited contact, and the experience offered to users is passive. TEI Guidelines are followed for the encoding
					of the texts by marking the different components of the text structure in order to provide users the key terms for their
					research.
				</p>
				<p>End/line will instead propose as a more interactive and collaborative project. Relying on some of the main principles
					of Digital Humanities like openness and collaboration, it will allow users the possibility to upload their own poetic
					text and to encode them. The main idea behind end/line is indeed that encoding is a form of close reading: this reinforces
					the didactical premise of the project, aiming to directly involve users in a process that - asking them to mark different
					components of the poems - is also an analysis of the text that implies its comprehension. And this didactical process
					will be reinforced because, after the encoding, the user can compare his own encoding with the work of other users on the
					same text.</p>
				<p>End/line will pursue the same didactic purpose of others TEI projects but in a different way: it will indeed be more
					open, offering everyone the possibility to be involved in an encoding process, and it will allow users to increase their
					expertise of literary text through a direct employment of a digital tool. In this way, also the knowledge and proficiency
					of TEI will be directly assessed through the direct use of TEI guidelines.</p>
				<h4 class="center-text"><a class="page-scroll" href="#newshead">Return</a></h4>
			</div>
		</div>
	</section>

</div>