<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">News
                    </br>
                </h1>
            </div>
        </div>
        <!-- /.row -->

<!-- News Rows -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>March 18th, 2017</h3>
                <a href="https://endlineproject.commons.gc.cuny.edu/2017/03/18/got-a-new-logo/" target="_blank"><h4>New Logo</h4></a>
                <p>How do you develop a visual identify for project so focused on textual encoding? What could convey the reams and reams of alphabetic characters and the angle brackets enclosing them?
                </p>
            </div>
        <div class="col-md-6 portfolio-item">
                <h3>March 18th, 2017</h3>
                <a href="https://endlineproject.commons.gc.cuny.edu/2017/03/18/endline-and-the-other-tei-poetry-projects/" target="_blank"><h4>end/line and Other TEI Poetry Projects</h4></a>
                <p>As stated in a previous post, end/line will allow users to upload a poetic text of their choosing, encode it, based on TEI Guidelines, and then compare their own encodings with those of others. In the same post, we also emphasized that, because we consider encoding as a form of close reading, we offer users a more direct way to work with TEI.
                </p>
            </div>
            </div>

         <div class="row">
            <div class="col-md-6 portfolio-item">
                <h3>March 13th, 2017</h3>
                <a href="https://endlineproject.commons.gc.cuny.edu/2017/03/13/looking-for-testers/" target="_blank"><h4>Looking For Testers</h4></a>
                <p>The development of end/line, our webapp for the encoding of poetic texts, requires a group of of people, with at least a basic expertise of TEI, as testers.
                </p>
            </div>
        <div class="col-md-6 portfolio-item">
                <h3>March 6th, 2017</h3>
                <a href="https://endlineproject.commons.gc.cuny.edu/2017/03/06/endline-a-different-approach-to-tei/" target="_blank"><h4>end/line: A Different Approach to TEI</h4></a>
                <p>Our digital project, end/line, will rely on the TEI Guidelines to allow our users to encode the poetic texts they want to upload. Being TEI a “a consortium which collectively develops and maintains a standard for the representation of texts in digital form” (as reported on TEI homepage), it is important for us to define how our project relates to the TEI Community: indeed, end/line presents some characteristics related to a specific approach and use of the TEI Guidelines that makes it something different from other TEI literary projects.
                </p>
            </div>
            </div>