<!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Privacy Policy
                    </br>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
               <h3>Information Practices</h3>
               <p>We store information in our database based on user submissions: usernames, emails, and passwords are all included. We also store encodings made on the platform. However, all personal information pertaining to user accounts is only viewable by administrators, and that information is also limited to user data. As we have stated in our Terms of Service, no user under 13 should be using this platform.
               </p>

               <p>Plain text submissions and TEI XML encodings will not be encrypted, as they are a part of the platform. However, user tables in our database will be hashed and encrypted using a salt. We also collect user activity information via Google Analytics. You can find their privacy policy <a href="https://www.google.com/policies/privacy/partners/" target="_blank">here</a>. All user encodings are available to other users on the platform. Every contribution that you make to the platform will be openly accessible to any other user.
               </p>

               <p>By using end/line, you consent to potentially having cookie files placed on your web browser. Cookies allow not only our analytics platform to run, but allows ease-of-use features such as having the platform to remember your session. If you would like to opt out of this, please see <a href="https://support.google.com/accounts/answer/61416?hl=en" target="_blank">these instructions</a> on how to disable cookies for certain sites. If you disable cookies on this website, some features may not work properly. 
               </p>

               <p>We send emails to users for account registration and password reset notifications. We may also send platform update notices. We do not sell any user information for any reason to third parties. We are not affiliated with any advertisers, and we do not monetize traffic on our platform.
               </p>
            
               <h3>Housekeeping</h3>

               <p>By using end/line, you agree to all the practices outlined in this Privacy Policy. If this policy is ever changed, the updates will occur on this page.
               </p>

               <p>Updated: March 20th, 2017</p>
            </div>
        </div>