<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Terms of Service
				</br>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 portfolio-item">
			<h3>Housekeeping</h3>
			<p>By using this service, you agree to the terms outlined below. By using the service, you agree that you’re 13 years of
				age or older, and for users outside of the United States, you will abide by your local laws. You agree to be responsible
				for how you use this service and the content that you publish through posted encodings. end/line is not responsible for
				your actions and can’t protect you from indemnification.</p>

			<h3>Release of Content</h3>
			<p>All encodings submitted to the platform are in the public domain. The individual user reserves no rights provided by copyright
				law for their submitted encodings. You are free to choose your username and the only unique entry we require is a working
				email address. The only personal information we keep about users are the submitted usernames, passwords, and email addresses
				to the platform. end/line is not responsible for any tracking that outsiders use against you in regards to your postings.
			</p>

			<h3>Liability</h3>
			<p>end/line is not responsible for any texts outside of the public domain uploaded to the site. If items uploaded to the
				site are subject to the terms of fair use for educational purposes, the work must have its title and author attributions
				appropriately noted. The poem should be reproduced accurately, and without alterations on the initial upload.
			</p>

			<h3>Account Retention</h3>
			<p>Accounts will be retained for as long as the application exists unless you request otherwise. You may delete your account
				at any time and if you do, it is permanent. We will not delete your individual encodings. If you want to delete your
				encodings, you must do so individually before deleting your account. We can end the application’s lifecycle at our discretion.
				If and when we do, we will give users 10 days to preserve their encodings.
			</p>

			<h3>Third-Party Sites</h3>
			<p>As a convenience for users, our sites may contain links to Internet sites maintained by third parties. You acknowledge
				and agree that we do not operate or control in any respect, or necessarily endorse, the information, content, products,
				services, advertising, or other materials that may be found on third-party sites.
			</p>

			<h3>Legal</h3>
			<p>We will not release any information about users unless presented with a subpoena or a court order. We will notify users
				of any legal requests for any information, including a copy of the actual request, unless it is illegal to do so.
			</p>

			<hr>
		</div>
	</div>
