<!-- Page Content --> 
<div class="container">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Upload a Poem
            </br>
            </h1>
        </div>
    </div>

<div class="row">
    <div class="col-md-6">
        <form>
        <div class="col-s">
        <label for="uploadtitle">Title</label>
        <input class="form-control" id="uploadtitle" type="text">
        </div>
        </form>
    </div>

    <div class="col-md-6">
        <form>
        <div class="col-s-2">
        <label for="uploadtitle">Author</label>
        <input class="form-control" id="uploadtitle" type="text">
        </div>
        </form>
    </div>
</div>

<div class="row top-buffer">
    <div class="col-md-6">
        <form>
        <div class="col-s">
        <label for="uploadtitle">Genre</label>
        <input class="form-control" id="uploadtitle" type="text">
        </div>
        </form>
    </div>
</div>


<div class="row top-buffer">
    <div class="col-md-6">
        <form>
        <div class="form-group">
        <label for="inputlg">Paste Your Text Here</label>
        <textarea class="form-control input-lg" id="inputlg" type="text" rows="16">
        </textarea>
        </form>
        </div>
</div>
    <div class="col-md-6 top-buffer center-text">
        <form>
        <a href="profile"><button type="button" class="btn btn-lg btn-primary" id="submitupload">Submit</button></a>
        </form>
        <form>
        <a href="encodesubmission"><button type="button" class="btn btn-lg btn-primary" id="submitandencode">Submit and Encode</button></a>
        </form>
    </div>
</div>

<div class="row">
</div>
</div>


