<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>
<link href="/css/scrolling-nav.css" rel="stylesheet">
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
		<% include ../partials/nav %>
		<% include ../partials/howitworkslanding %>
		<% include ../partials/scripts %>
	</body>
</html>
