<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>
    <div class="container">
       <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">end/line
                    </br>
                    <small>a different approach to TEI</small>
                </h1>
            </div>
        </div>
    </div>
        <% include ../partials/indexlanding %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>

</html>