<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <%- include('../partials/nav', {username: username}); %>

        <% include ../partials/privacypolicylanding %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>
