<!DOCTYPE html>
<html lang="en">

    <% include ../partials/head %>

    <body>

        <% include ../partials/nav %>

        <% include ../partials/profile %>

        <% include ../partials/footer %>

        <% include ../partials/scripts %>

    </body>
</html>
